name: IaC Security Pipeline

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  terraform-security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive
        working-directory: Terraform

      - name: Terraform init
        run: terraform init -input=false
        working-directory: Terraform

      - name: Terraform validate
        run: terraform validate
        working-directory: Terraform

      - name: Terraform plan
        run: terraform plan -input=false -no-color
        working-directory: Terraform

      - name: tfsec scan
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          soft_fail: false
          working-directory: Terraform
